@model SDTur.Application.DTOs.TourScheduleDto

@{
    ViewData["Title"] = "Tur Programı Detayı";
}

<h1>Tur Programı Detayı</h1>

<div>
    <h4>@Model.TourName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TourName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TourName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TourDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TourDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsCompleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsCompleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsCancelled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsCancelled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalIncome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalIncome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalExpense)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalExpense)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NetProfit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NetProfit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Düzenle</a> |
    <a asp-action="Index" class="btn btn-secondary">Listeye Dön</a>
</div> 