@model SDTur.Application.DTOs.ReportDto

@{
    ViewData["Title"] = "Rapor Sil";
}

<h1>Rapor Sil</h1>
<h3>Bu raporu silmek istediğinizden emin misiniz?</h3>
<div>
    <h4>@Model.ReportName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReportName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReportName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReportType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReportType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReportDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReportDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GeneratedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GeneratedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FileType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FileType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @(Model.IsActive ? "Aktif" : "Pasif")
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">İptal</a>
    </form>
</div> 